doctype 5
html
  head
    title= title
    != css('client')
    != css('style')
    != css('twitter')
    != css('angular-ui.css')
    != js('client')
    != js('socket.io')
    != js('left')
    != js('jquery')
    != js('jquery.eventsource')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
    != js('angular-ui')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    != js('heatmap')
    != js('heatmap-gmaps')
  body
    #main.container-fluid
        .row-fluid
            span.span6
              .well.widget-container.heatmap
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title Heatmap
                #heatmapArea  
              .well.widget-container.wordcloud
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title Locally Trending
                  .well.widget-content
                  #images
            span.span6
              .well.widget-container.nola-correspondence
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title NOLA Cares
                  .well.widget-content
              .well.widget-container.official.tweet-container
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title NOLA Tweets
                include angular/nola-tweets.html
                 
    != jadeTemplates()
  script
    if(10 == 10) {
      console.log('working')
    }
