doctype 5
html
  head
    title= title
    != css('client')
    != js('client')
    != js('socket.io')
    script(src='/scripts/left.js')
  body
    #main.container-fluid
        .row-fluid
            span.span6
              .well.widget-container.heatmap
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title Heatmap
                  .well.widget-content
              .well.widget-container.wordcloud
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title Locally Trending
                  .well.widget-content
            span.span6
              .well.widget-container.nola-correspondence
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title NOLA Cares
                  .well.widget-content
              .well.widget-container.official
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title NOLA Tweets
                  .well.widget-content
                    ul.original-tweets
    != jadeTemplates()
  script
    if(10 == 10) {
      console.log('working')
    }






