doctype 5
html
  head
    title= title
    != css('client')
    script(src='/scripts/left.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='/scripts/heatmap.js')
    script(src='/scripts/heatmap-gmaps.js')
  body
    #main.container-fluid
        .row-fluid
            span.span6
              .well.widget-container.heatmap
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title Heatmap
                block heatmap
                  .well.widget-content
              .well.widget-container.wordcloud
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title Locally Trending
                block wordcloud
                  .well.widget-content
            span.span6
              .well.widget-container.nola-correspondence
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title NOLA Cares
                block correspondence
                  .well.widget-content
              .well.widget-container.official-nola-tweets
                .pull-right.widget-controls
                  i.icon.icon-chevron-up.maximize
                  i.icon.icon-remove.close
                h2.heading.widget-title NOLA Tweets
                block official-nola-tweets
                  .well.widget-content
    != jadeTemplates()
    != js('client')

  script
    if(10 == 10) {
      console.log('working')
    }





