doctype 5
html
  head
    title= title
    != css('client')
    != css('twitter')
    != css('angular-ui.css')
    != js('client')
    != js('socket.io')
    != js('right')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
    != js('angular-ui')
    != css('client')
    != js('psa')
    != js('events')
    != js('nola-tweets')
  body
    #main.container-fluid
      .row-fluid
          span.span6
            .well.widget-container.psa-feed.tweet-container
              .pull-right.widget-controls
                i.icon.icon-chevron-up.maximize
                i.icon.icon-remove.close
              h2.heading.widget-title #PSAs
              include angular/psa.html
          span.span6
            .well.widget-container.upcoming-events
              .pull-right.widget-controls
                i.icon.icon-chevron-up.maximize
                i.icon.icon-remove.close
              h2.heading.widget-title Upcoming Events
              include angular/events.html
            .well.widget-container.schedule-changes
              .pull-right.widget-controls
                i.icon.icon-chevron-up.maximize
                i.icon.icon-remove.close
              h2.heading.widget-title Recent Schedule Changes
                .well.widget-content
                  ul
                    li.schedule-changes
    != jadeTemplates()
    != js('client')    
    
