.tweet {
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
    position: relative;
    padding-left: 65px;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
}

.tweet .thumbnail {
    position: absolute;
    left: 4px;
    top: 4px;
    border: 0;
}

.tweet .name {
    font-weight: bold;
}

.tweet .handle {
    color: rgb(100,100,100);
    font-style: italic;
}

.tweet .time {
    color: rgb(140,140,140);
    float: right;
}

.tweet .content {
    color: black;
    margin: 0; 
}
