.tweet {
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
    position: relative;

    padding-left: 62px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-top: 6px;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    min-height: 50px;
    margin-bottom: 0;
}

.reply {
    margin-left: 15px;
}

.tweet.ui-animate {
    opacity: 0;
    margin-bottom: -50px;
}

.tweet:nth-child(1) {
    margin-top: 0;
}

.tweet .thumbnail {
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.tweet .name {
    font-weight: bold;
}

.tweet .handle {
    color: rgb(100,100,100);
    font-style: italic;
}

.tweet .time {
    color: rgb(140,140,140);
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.tweet .content {
    color: black;
    margin: 0; 
}

.tweet-container {
    height: 400px;
    overflow: hidden;
}

.hide-button {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

.tweet:hover .hide-button {
    display: block;
}

.event {
    border: 1px solid rgb(200,200,200);
    background: rgb(250,250,250);
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(80,80,80);
    padding: 12px;

    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.change {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event p {
    margin: 0;
}