.tweet {
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
    position: relative;

    padding-left: 62px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-top: 6px;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    min-height: 50px;
    margin-bottom: 0;
}

.tweet.ui-animate {
    opacity: 0;
    margin-bottom: -50px;
}

.tweet:nth-child(1) {
    margin-top: 0;
}

.tweet .thumbnail {
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.tweet .name {
    font-weight: bold;
}

.tweet .handle {
    color: rgb(100,100,100);
    font-style: italic;
}

.tweet .time {
    color: rgb(140,140,140);
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.tweet .content {
    color: black;
    margin: 0; 
}

.tweet-container {
    height: 400px;
    overflow: hidden;
}

.hide-button {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

.tweet:hover .hide-button {
    display: block;
}

.event {
    border-top: 1px solid rgb(200,200,200);
    color: rgb(80,80,80);
    margin-left: -20px;    
    margin-right: -20px;
    padding: 12px;
}

.event p {
    margin: 0;
}