<!-- this is a snippet of html intended for angular -->
<div ng-controller="NolaTweetsCtrl" id="angular-nola-tweets">
  <div ng-show="tweets.length == 0">
    <center><img style="margin-top: 150px;" src="/img/ajax-loader.gif" /></center>
  </div>
  <div ui-animate ng-repeat="tweet in tweets" class="tweet">
    <img class="thumbnail" ng-src="{{ tweet.thumbnail }}" />
    <span class="name">{{ tweet.name }}</span>
    <span class="handle">@{{ tweet.screen_name }}</span>
    <span class="time">10h</span>
    <p class="content">{{ tweet.text }}</p>
    <img ng-click="hideTweet ( tweet.id )" class="hide-button" src="/img/cross-button.png" />
  </div>
</div>

<script src="/scripts/angular/nola-tweets.js"></script>

<script>
  angular.element(document).ready(function() {
  angular.bootstrap(document.getElementById("angular-nola-tweets"), ["nola-tweets"]);
  });
</script>
